# Environment variables
.env
1.env
2.env
*.env
!.env.example
envs/*.env
!envs/.env.example
!envs/.gitkeep

# Data files
saved_html/
email_lists/
*.csv
!affected_files.txt

# Logs
logs/*.log
!logs/.gitkeep

# MySQL dumps
mysql_dump/

# Media files
media/

# Local LLM models
exllamav2/
tabbyAPI/
pytorch/